ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 1rem 0;
}

svg {
    width: inherit;
    height: inherit;
}

.menu-listitem {
    display: flex;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

p {
    margin: auto;
}

button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

img {
    width: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    display: flex;
    flex-direction: row;
}

nav {
    width: fit-content;
    height: 100vh;
    background-color: aquamarine;
    padding: 1em;
}

/***************************/
.menu-bar.close {
    width: 10px;
}