.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 1rem 0;
}

svg {
    width: inherit;
    height: inherit;
}

.menu-bar {
    border-right: 1px solid rgba(128, 128, 128, 0.5)
}

.menu-listitem {
    display: flex;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

p {
    margin: auto;
}

button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.cursor-hover:hover {
    background-color: silver;
}

img {
    width: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: fit-content;
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
    padding: 1em;
}

main {
    margin: auto;
    margin-top: 2rem;
}